{% extends "base.html" %}

{% block main %}


<p class="bold">Oh hi,</p>

<p>This little project will be useful to you if you want to do the following stuffs:</p>
<ul>
  <li>see all trainning phrases and answers in an spreadsheet for further analysises</li>
  <li>whatever you want to do that would be easier in CSV format ;)</li>
</ul>

<p>Send me your agent's zip file and receive 2 csv files of all its training phrases and its answers.</p>
<form action="/extract" method="post" enctype="multipart/form-data">
  <label>Agent zip file:</label> <input type="file" name="agentZipFile" />
  <button type="submit" id="submit-agent">Submit my agent</button>
</form>
{% endblock main %}
